* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #230c9a 0%, #0ef1b4 100%);
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.card {
  background: rgba(55, 162, 6, 0.759);
  padding: 60px 80px;
  border-radius: 30px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
  text-align: center;
  animation: cardAppear 1s ease-out;
}

.message {
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(45deg, #3ce7d0, #0e47a2, #27ae60, #2ecc71);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-background-clip: text;
  animation: gradientMove 3s ease infinite;
  margin-top: 15px;
  line-height: 1.5;
}

.emoji {
  font-size: 70px;
  display: inline-block;
  animation: bounce 3s ease-in-out infinite;
}

.emoji:nth-child(2) {
  animation-delay: 0.3s;
}

.snowflake {
  position: absolute;
  color: rgb(245, 241, 241);
  font-size: 24px;
  animation: fall linear infinite;
  opacity: 0.8;
}

@keyframes cardAppear {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(30px);
  }
  to {
    opacity: 1;
    transform: scale(0.9);
  }
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  } 
  25% {
    transform: translateY(-15px) rotate(-10deg);
  }
   50% {
    transform: translateY(0) rotate(0deg);
  }
   70% {
    transform: translateY(-8px) rotate(10deg);
  }
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
  }
}

@media (max-widht: 600px) {
  .card {
    padding: 40px 50px;
  }
  .message {
    font-size: 32px;
  }
  .emoji {
    font-size: 40px;
  }
}
